.weatherCard
{
    display: table-row;
    margin: 5px;
}

.weatherCard h5, p, i{
    display: table-cell;
    padding-left: 40px;
    font-family: 'Courier New';
}

.weatherCardHeadlines{
    font-size: 26px;
}

.minAndMax{
    text-align: right;
}

#Forecast{
    background-color: rgba(255, 255, 255, 0.3); 
    color: black;
    width: 550px;
    margin-top: 0;
    padding-top: 5px; 
    border-radius: 25px; 
    margin-left: 10px; 
    padding-bottom: 5px;
    float: left;
}

.FiveDaysForecastHeadline{
    font-family:Georgia;
}

.currentInfo{
    font-family:Georgia;
    padding-left: 100px;
    height: 300px;    
    margin-top: 20px;
    margin-bottom: 0;
}

.currentInfo h1{
    font-size: 50px;
    margin-bottom: 0;
}

.currentInfo h1 i{
    font-size: 100px;
}

.currentInfo h3{
    margin-top: 0;
}

.currentInfo p{
    font-weight: bold;
    font-size: 50px;    
}

body{
    display:block;
    background-image: url('../src/pictures/clouds-background.png');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.searchForm{
    margin-left: 100px;
    margin-top: 30px;
}

.searchForm input{
    width: 200px;
}

#buttonSaveFavorite
{
  background-color: #ddd;
  border: none;
  color: black;
  padding: 10px 20px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  margin: 4px 2px;
  cursor: pointer;
  border-radius: 16px;
  margin-top: 20px;
  box-shadow: 3px 4px #888888; 
}


#myFavorites{
    float:left;
    margin-left: 40px;
    background-color: rgba(15, 130, 238, 0.3);
    width: 300px;
    margin-top: 0;
    padding-top: 5px; 
    border-radius: 25px;
    padding-bottom: 5px;
    float: left;
    text-align: center;
    font-family:Georgia;
}

#myFavorites ul{
    list-style-type: none;
    text-align: left;
}

#myFavorites ul li{
    padding-top: 10px;
}





